{% extends "layout.njk" %}
{% block content %}
    <div class="cardpadding">
        <div class="card" style="width: 100%;">
            <h5>{{ post.name }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    {{ post.title }}</h5>
                <p class="card-text">
                    {{ post.content }}</p>
                <a href="#" class="btn btn-primary">Comment</a>
            </div>
            <p>{{ post.createdAt }}</p>
        </div>
    </div>
{% endblock %}