{% extends "layout.njk" %}
{% block content %}

    <div class="card" style="width: 100%;">
        <img src="img/pfp.jpg" class="card-img-top" alt="pfp">
        <p>{{ post.name }}</p>
        <div class="card-body">
            <h5 class="card-title">
                {{ post.title }}</h5>
            <p class="card-text">
                {{ post.content }}</p>
            <a href="#" class="btn btn-primary">Comment</a>
        </div>
        <p>{{ post.createdAt }}</p>
    </div>
{% endblock %}